<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>Bienvenido a Piggy!!!!</p>

<p><%= @user.email %></p>

<p><%= @user.username %></p>

<p> A partir de ahora comezaras a ahorrar de una forma facil, rapida y segura.</p>
<br>
<p>Nosotros te ayudaremos a lograrlo 😉</p>
<br>

<p>Gracias de parte de todo el equipo de Piggy</p>


