h1 {
 font-weight: 800;
}

body {
  background-color: rgb(251, 251, 251);
}

.gasto {
  font-size: 30px;
}

#santander {
  background-color: #ff0505;
  color: white;
}

#bbva {
  background-color: #072046;
  color: white;
}

#pluggy {
  background-color: #E64667;
  color: white;
}