// Specific CSS for your home-page
.home-background {
  background-image: image-url("fondo.png");
  background-size: 105% 105%;
  background-position: bottom center;

}

@media (max-width: 576px) {
  .home-background {
  background-image: image-url("fondoMob.png");

  }
}
// svg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right:0;
//   width:100%;

// }
// @media (max-width: 576px) {
//   svg {
//     width:230%;
//   }

// }

.primera-vista {
  h1 {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 110%;
      color: white;
      /* or 88px */
      }

      p {
        width: 400px;
        height: 140px;
        left: 148px;
        top: 369px;


        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        /* or 29px */

        font-feature-settings: 'liga' off;

        /* 1 */

        color: white;
      }

      @media (max-width: 576px) {
        p {
        width: auto;
      } }

  .img1 {
    width: 100%;
    height: auto;
  }
  @media (max-width: 576px) {
  .img1 {
    width:100%;
  }

}

}

.separador-verde {
  width: 100%;
  height: 99px;
  background: rgba(76, 140, 232, 0.46);
}

.segunda-vista {

    h2 {

      font-style: normal;

      font-size: 40px;
      line-height: 110%;
      margin-top: 90px;
      /* or 88px */
      }

      .cards{
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 50px;

      }
      .card {
      word-wrap: break-word;
      word-break: break-word;

        h3 {


          font-style: normal;

          font-size: 20px;
          line-height: 110%;

        }

        p {



          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 160%;
          color: #4B5D68;
          }
        }
}




.contacto-vista {

  h3 {

    font-style: normal;

    font-size: 40px;
    line-height: 110%;
  };
  p {
    width: 224px;
    height: 100px;
    left: 148px;
    top: 369px;


    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    font-feature-settings: 'liga' off;

    /* 1 */

    color: #4B5D68;
  };
}

.contacto-background {

  background-image: image-url("Ola-Footer.png");
  background-size: 105% 105%;
  background-position: top center;

}

@media (max-width: 576px) {
  .home-background {

  }
}

