
<div class="footer py-2">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="text-wrap" >
   <p>Made with OINKS by Piggy</p>
  </div>
</div>
