<div class="container">
  <% if current_user.savings.empty? %>
    <h1>Aun no tienes ningun chanchito, crea uno nuevo!</h1>
  <% elsif !current_user.savings.empty? && current_user.savings.last.status != "Open" %>
    <h1>Todos tus chanchitos est치n rotos, crea uno nuevo!</h1>
  <% end %>
  <%= simple_form_for  @saving do |f| %>
    <%= f.input :goal,  :label => "Cual es tu objetivo de ahorro?",placeholder:"Ingresa tu meta", class: "exs" %>
    <%= f.input :goal_description,  :label => "Para que est치s ahorrando?", placeholder:"Descripcion de la meta, m치ximo 50 car치cteres.", class: "exs" %>
    <%= f.submit "Crear chanchito!", class:"btn btn-flat mr-3" %>
  <% end %>
</div>
