<div class="container">
  <div class="primera-vista">
    <div class="info">
      <h1>Piggy</h1>
      <br>
      <p>Somos una plataforma que busca ayudarte a ahorrar de una forma  automatica, simple y segura.
      Descubri una nueva forma de ahorrar!</p>
      <%= link_to "Registrate!", new_user_registration_path , class: "bt btn-flat" %>
    </div>
      <img src="imagenes/1.png" alt="">
  </div>

  <hr>

  <div class="separador-verde"></div>

  <hr>

  <div class="segunda-vista">
    <img src="" alt="">
      <div class="info">
        <h1>Titulo</h1>
        <p>Descripcion</p>
      </div>
  </div>

  <hr>

  <div class="cards">
    <div class="card">
      <h3>Titulo</h3>
      <p>Info del producto</p>
      <a href="">Ver mas</a>
    </div>
    <div class="card">
      <h3>Titulo</h3>
      <p>Info del producto</p>
      <a href="">Ver mas</a>
    </div>
    <div class="card">
      <h3>Titulo</h3>
      <p>Info del producto</p>
      <a href="">Ver mas</a>
    </div>
    <div class="card">
      <h3>Titulo</h3>
      <p>Info del producto</p>
      <a href="">Ver mas</a>
    </div>
  </div>

  <hr>

  <div class="separador-rosa"></div>

  <hr>

  <div class="contacto-vista">
    <div class="info">
      <h1>Contactanos</h1>
      <p>Descripcion</p>
      <form action="">full name</form>
      <form action=""> email </form>
      <form action=""> phone </form>
      <button>Submit</button>
    </div>

      <img src="imagenes/1.png" alt="">
  </div>
</div>

<hr>

<div class="footer">
  <footer> Footer</footer>
</div>

<hr>



