<div class="container">
  <div class="primera-vista">
    <div class="info">
      <h1>Piggy</h1>
      <br>
      <p>Somos una plataforma que busca ayudarte a ahorrar de una forma  automatica, simple y segura.
      Descubri una nueva forma de ahorrar!</p>
      <%= link_to "Registrate!", new_user_registration_path , class: "bt btn-flat" %>
    </div>
      <img src="https://image.freepik.com/vector-gratis/icono-ahorro-dinero-piggy-dinero-pila-monedas-icono-empresarial-aislado_138676-513.jpg" alt="">
  </div>
</div>

<div class="separador-verde"></div>

<div class="container">
  <div class="cards">
    <h2>Que podes lograr con Piggy?</h2>
    <div class="card">
      <h3>Hacer un seguimiento de tus compras</h3>
      <p>Cargas todas tus compras, y nosotros te las mostramos de una manera sencilla</p>
      <a href="">Ver mas</a>
    </div>
    <div class="card">
      <h3>Elegir un porcentaje de cuanto queres ahorrar!</h3>
      <p>Elegi cuanto queres ahorrar sobre tus gastos, 10%? 15%? 20%? Escribi cuanto, y nosotros te decimos cuanta plata meter en tu chanchito</p>
      <a href="">Ver mas</a>
    </div>
    <div class="card">
      <h3>Ahorrar</h3>
      <p>A partir del porcentaje que nos das, y luego de apretar el boton AHORRA en el gasto, el porcentaje que establecista hara que se te guarde en un chanchito virtual,  </p>
      <a href="">Ver mas</a>
    </div>
  </div>

  <hr>

  <div class="separador-rosa"></div>

  <hr>

  <div class="contacto-vista">
    <div class="info">
      <h1>Contactanos</h1>
      <p>Descripcion</p>
      <form action="">full name</form>
      <form action=""> email </form>
      <form action=""> phone </form>
      <button>Submit</button>
    </div>

      <img src="imagenes/1.png" alt="">
  </div>
</div>

<hr>

<div class="footer">
  <footer> Footer</footer>
</div>

<hr>



