<div class="home-background">
    <div class="container">
      <div class="row primera-vista py-5 align-items-center">
          <div class="col-12 col-md-5 ">
            <div class="info">
              <h1>Piggy</h1>
              <br>
              <p>Somos una plataforma que busca ayudarte a ahorrar dinero de una forma  automatica, simple y segura.
              Descubri una nueva forma de ahorrar!</p>
              <%= link_to "Registrate!", new_user_registration_path , class: "bt animated-button-pink thar-four" %>
            </div>
          </div>
          <div class="col-12 col-md-7 ">
            <%= image_tag "piggy3.png", class: "img1" %>
          </div>
        </div>
    </div>
</div>


<div class="container">
  <div class="segunda-vista">
    <h2>Que podes lograr con Piggy?</h2>
    <br>
      <div class="cards text-center">
        <div class="row row-cols-1 row-cols-md-3 py-5">
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://mk0zezosobuapu92jg73.kinstacdn.com/wp-content/themes/Dcom/images/calculator-hero.png" class="card-img-top py-5" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hacer un seguimiento de tus compras</h5>
                <p class="card-text text-center">Cargas todas tus compras y nosotros te las mostramos de una manera sencilla</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://static.vecteezy.com/system/resources/previews/000/378/512/non_2x/percentage-vector-icon.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Elegir un porcentaje de cuanto queres ahorrar!</h5>
                <p class="card-text text-center">10%? 15%? 20%? Escribi cuanto y nosotros te decimos cuanta plata guardar en tu chanchito</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://blog.axend.io/wp-content/uploads/2019/04/ahorro-Caja-Manzanillo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ahorrar!</h5>
                <p class="card-text text-center">A partir del porcentaje que estableciste, se te guardara dinero en un chanchito virtual, podes establecer un objetivo y cuando el chanchito este lleno romperlo!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="separador-rosa"></div>

<div class="position-relative">
  <%= render('shared/wave') %>
    <div class="container">
      <div class="contacto-vista py-5">
        <div class="info">
          <h3>Contactanos</h3>
          <p>Descripcion</p>
          <form>
            <div class="form-group">
              <label for="exampleInputName1">Nombre completo</label>
              <input type="name" class="form-control" id="exampleInputName1" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu email">
              <small id="emailHelp" class="form-text text-muted">Esta informacion es privada para tu seguridad.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Telefono</label>
              <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Ingresa tu telefono">
              <small id="emailHelp" class="form-text text-muted">Esta informacion es privada para tu seguridad.</small>
            </div>

            <button type="submit" class=" animated-button-blue thar-four">Enviar</button>
          </form>
        </div>
          <img src="" alt="" class="img3">
      </div>
    </div>
</div>















