.show-banner {
  justify-content: space-around;
  background-size: cover;
  align-items: center;
  background-position: center;
  height: 450px;
  color: white;
  text-align: center;
  padding-top: 30vh;
  background-image: image-url("piggy-coin.png");;
  background-size: cover;
  object-fit: cover;
  @media screen {
    
  }
}

.experience-title{
  font-family: "Roboto", serif;
  font-size: 40px;
  font-weight: 900;
  color: rgba(233, 233, 233, 0.92);
  text-align: center;
}