.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.alert-fadein {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.alert-fade{
  opacity: 1;
}

.btnAnimation {
  background: lighten(#F3F0FE, 3%);
  border: 1px solid darken(#E64967, 4%);
  box-shadow: 0px 2px 0 darken(#F3F0FE, 5%), 2px 4px 6px darken(#F3F0FE, 2%);
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 150ms linear;
  padding: 4px;
  color: #E64967;
  font-size: 12px;

  // border-radius: 50px;
}

.btnAnimation:hover {
  background: darken(#E64967, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten(#F3F0FE, 18%);
  text-decoration: none;
  // text-shadow: -1px -1px 0 darken(#F3F0FE, 9.5%);
  transition: all 250ms linear;
}




.animated-button-pink.thar-four {
  color: #E64968;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #E64968;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  // width: 35%;
  text-align: center;
  min-width: 75px;
  max-width: 160px;

}
.animated-button-pink.thar-four:hover {
  color: #F4F4F4 !important;
  background-color: transparent;
  text-shadow: nfour;

}
.animated-button-pink.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;

}
.animated-button-pink.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #F4F4F4 !important;
  background: #E64968;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}



.animated-button-blue.thar-four {
  color: #1478EE;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #1478EE;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

  text-align: center;
  background-color:#F4F4F4;
  min-width: 60px;
  max-width: 80px;

}
.animated-button-blue.thar-four:hover {
  color: #F4F4F4 !important;
  background-color: transparent;
  text-shadow: nfour;

}
.animated-button-blue.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;

}
.animated-button-blue.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #1478EE !important;
  background: #1478EE;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}


.btnFullPink {
  background: lighten(#E64967, 3%);
  border: 1px solid darken(#E64967, 4%);
  box-shadow: 0px 2px 0 darken(#F3F0FE, 5%), 2px 4px 6px darken(#F3F0FE, 2%);
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 150ms linear;
  padding: 4px;
  color: white;
  font-size: 12px;
  // border-radius: 50px;
}

.btnFullPink:hover {
  background: darken(#F7F7F7, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: #E64967;
  text-decoration: none;
  // text-shadow: -1px -1px 0 darken(#F3F0FE, 9.5%);
  transition: all 250ms linear;
}


.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #1478EE;
}
