.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* Border X get width  */
.borderXwidth:before, .borderXwidth:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #000;
    transition: all 0.3s;
}

.borderXwidth:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth:hover:before, .borderXwidth:hover:after
{
    opacity: 1;
    width: 100%;
}
.navbar-lewagon {
  background-color: #2E2462;
  transition: background-color 0.3s ease;
    li.nav-item > a{
    color: white !important;
  }
}

.navbar-lewagon-white {
  background-color: white;
  li.nav-item > a{
    color: black !important;
  }
}
.nav-link{
  color: pink;
}









