
.card1 {
  margin: 0px 10px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px rgba(136, 165, 191, 0.48);
  // border-radius: 30px;
  transition: all 150ms ease-in-out;
  border-style: none;
  background-color: #F0EFEF;

  // background-repeat: no-repeat;




 }
// }E85571
