
<div class="container-fluid ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My Expenses</h3>
          <br>
           <ul lass="list-group">
            <% if @expenses.any? %>
              <% @expenses.each do |expense| %>
                <li class="list-group-item"><%= expense.category %> $<%= expense.amount %></li>
              <% end %>
            <% else %>
              <li>You still have no expenses</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
